**Important: This notebook will only work with fastai-0.7.x. Do not try to run any fastai-1.x code from this path in the repository because it will load fastai-0.7.x**

# Structured and time series data

This notebook contains an implementation of the third place result in the Rossman Kaggle competition as detailed in Guo/Berkhahn's [Entity Embeddings of Categorical Variables](https://arxiv.org/abs/1604.06737).

The motivation behind exploring this architecture is it's relevance to real-world application. Most data used for decision making day-to-day in industry is structured and/or time-series data. Here we explore the end-to-end process of using neural networks with practical structured data problems.

In [1]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [2]:
from fastai.tabular import *
from  datetime import *

In [3]:
from glob import glob

In [4]:
PATH='data/'

## Create datasets

In addition to the provided data, we will be using external datasets put together by participants in the Kaggle competition. You can download all of them [here](http://files.fast.ai/part2/lesson14/rossmann.tgz).

For completeness, the implementation used to put them together is included below.

In [ ]:
def concat_csvs(dirname):
    path = f'{PATH}{dirname}'
    filenames=glob(f"{PATH}/*.csv")

    wrote_header = False
    with open(f"{path}.csv","w") as outputfile:
        for filename in filenames:
            name = filename.split(".")[0]
            with open(filename) as f:
                line = f.readline()
                if not wrote_header:
                    wrote_header = True
                    outputfile.write("file,"+line)
                for line in f:
                     outputfile.write(name + "," + line)
                outputfile.write("\n")

In [ ]:
concat_csvs('googletrend')
concat_csvs('weather')

Feature Space:
* train: Training set provided by competition
* store: List of stores
* store_states: mapping of store to the German state they are in
* List of German state names
* googletrend: trend of certain google keywords over time, found by users to correlate well w/ given data
* weather: weather
* test: testing set

In [5]:
table_names = ['train', 'store', 'store_states', 'state_names', 
               'googletrend', 'weather', 'test']

We'll be using the popular data manipulation framework `pandas`. Among other things, pandas allows you to manipulate tables/data frames in python as one would in a database.

We're going to go ahead and load all of our csv's as dataframes into the list `tables`.

In [6]:
tables = [pd.read_csv(f'{PATH}{fname}.csv', low_memory=False) for fname in table_names]

In [7]:
from IPython.display import HTML, display

We can use `head()` to get a quick look at the contents of each table:
* train: Contains store information on a daily basis, tracks things like sales, customers, whether that day was a holdiay, etc.
* store: general info about the store including competition, etc.
* store_states: maps store to state it is in
* state_names: Maps state abbreviations to names
* googletrend: trend data for particular week/state
* weather: weather conditions for each state
* test: Same as training table, w/o sales and customers

In [8]:
for t in tables: display(t.head())

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

   Store State
0      1    HE
1      2    TH
2      3    NW
3      4    BE
4      5    SN

           StateName State
0  BadenWuerttemberg    BW
1             Bayern    BY
2             Berlin    BE
3        Brandenburg    BB
4             Bremen    HB

             file                     week  trend
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Max_VisibilityKm,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,31.0,12.0,4.0,39,26,58.0,5.08,6.0,Rain,215
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,31.0,14.0,10.0,24,16,NaN,0.00,6.0,Rain,225
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,31.0,8.0,2.0,26,21,NaN,1.02,7.0,Rain,240
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,11.0,5.0,2.0,23,14,NaN,0.25,7.0,Rain,263
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,10.0,6.0,3.0,16,10,NaN,0.00,7.0,Rain,268

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

This is very representative of a typical industry dataset.

The following returns summarized aggregate information to each table accross each field.

In [9]:
for t in tables: display(t)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1
5,6,5,2015-07-31,5651,589,1,1,0,1
6,7,5,2015-07-31,15344,1414,1,1,0,1
7,8,5,2015-07-31,8492,833,1,1,0,1
8,9,5,2015-07-31,8565,687,1,1,0,1
9,10,5,2015-07-31,7185,681,1,1,0,1
10,11,5,2015-07-31,10457,1236,1,1,0,1
11,12,5,2015-07-31,8959,962,1,1,0,1
12,13,5,2015-07-31,8821,568,1,1,0,0
13,14,5,2015-07-31,6544,710,1,1,0,1
14,15,5,2015-07-31,9191,766,1,1,0,1
15,16,5,2015-07-31,10231,979,1,1,0,1
16,17,5,2015-07-31,8430,946,1,1,0,1
17,18,5,2015-07-31,10071,936,1,1,0,1
18,19,5,2015-07-31,8234,718,1,1,0,1
19,20,5,2015-07-31,9593,974,1,1,0,0
20,21,5,2015-07-31,9515,682,1,1,0,1
21,22,5,2015-07-31,6566,633,1,1,0,0
22,23,5,2015-07-31,7273,560,1,1,0,1
23,24,5,2015-07-31,14190,1082,1,1,0,1
24,25,5,2015-07-31,14180,1586,1,1,0,1
25,26,5,2015-07-31,7818,611,1,1,0,1
26,27,5,2015-07-31,13213,1263,1,1,0,1
27,28,5,2015-07-31,7301,663,1,1,0,1
28,29,5,2015-07-31,9411,737,1,1,0,1
29,30,5,2015-07-31,4776,625,1,1,0,1
...,...,...,...,...,...,...,...,...,...
1017179,1086,2,2013-01-01,0,0,0,0,a,1
1017180,1087,2,2013-01-01,0,0,0,0,a,1
1017181,1088,2,2013-01-01,0,0,0,0,a,1
1017182,1089,2,2013-01-01,0,0,0,0,a,1
1017183,1090,2,2013-01-01,0,0,0,0,a,1
1017184,1091,2,2013-01-01,0,0,0,0,a,1
1017185,1092,2,2013-01-01,0,0,0,0,a,1
1017186,1093,2,2013-01-01,0,0,0,0,a,1
1017187,1094,2,2013-01-01,0,0,0,0,a,1
1017188,1095,2,2013-01-01,0,0,0,0,a,1
1017189,1096,2,2013-01-01,0,0,0,0,a,1
1017190,1097,2,2013-01-01,5961,1405,1,0,a,1
1017191,1098,2,2013-01-01,0,0,0,0,a,1
1017192,1099,2,2013-01-01,0,0,0,0,a,1
1017193,1100,2,2013-01-01,0,0,0,0,a,1
1017194,1101,2,2013-01-01,0,0,0,0,a,1
1017195,1102,2,2013-01-01,0,0,0,0,a,1
1017196,1103,2,2013-01-01,0,0,0,0,a,1
1017197,1104,2,2013-01-01,0,0,0,0,a,1
1017198,1105,2,2013-01-01,0,0,0,0,a,1
1017199,1106,2,2013-01-01,0,0,0,0,a,1
1017200,1107,2,2013-01-01,0,0,0,0,a,1
1017201,1108,2,2013-01-01,0,0,0,0,a,1
1017202,1109,2,2013-01-01,0,0,0,0,a,1
1017203,1110,2,2013-01-01,0,0,0,0,a,1
1017204,1111,2,2013-01-01,0,0,0,0,a,1
1017205,1112,2,2013-01-01,0,0,0,0,a,1
1017206,1113,2,2013-01-01,0,0,0,0,a,1
1017207,1114,2,2013-01-01,0,0,0,0,a,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
5,6,a,a,310.0,12.0,2013.0,0,NaN,NaN,NaN
6,7,a,c,24000.0,4.0,2013.0,0,NaN,NaN,NaN
7,8,a,a,7520.0,10.0,2014.0,0,NaN,NaN,NaN
8,9,a,c,2030.0,8.0,2000.0,0,NaN,NaN,NaN
9,10,a,a,3160.0,9.0,2009.0,0,NaN,NaN,NaN
10,11,a,c,960.0,11.0,2011.0,1,1.0,2012.0,"Jan,Apr,Jul,Oct"
11,12,a,c,1070.0,NaN,NaN,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
12,13,d,a,310.0,NaN,NaN,1,45.0,2009.0,"Feb,May,Aug,Nov"
13,14,a,a,1300.0,3.0,2014.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct"
14,15,d,c,4110.0,3.0,2010.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
15,16,a,c,3270.0,NaN,NaN,0,NaN,NaN,NaN
16,17,a,a,50.0,12.0,2005.0,1,26.0,2010.0,"Jan,Apr,Jul,Oct"
17,18,d,c,13840.0,6.0,2010.0,1,14.0,2012.0,"Jan,Apr,Jul,Oct"
18,19,a,c,3240.0,NaN,NaN,1,22.0,2011.0,"Mar,Jun,Sept,Dec"
19,20,d,a,2340.0,5.0,2009.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct"
20,21,c,c,550.0,10.0,1999.0,1,45.0,2009.0,"Jan,Apr,Jul,Oct"
21,22,a,a,1040.0,NaN,NaN,1,22.0,2012.0,"Jan,Apr,Jul,Oct"
22,23,d,a,4060.0,8.0,2005.0,0,NaN,NaN,NaN
23,24,a,c,4590.0,3.0,2000.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct"
24,25,c,a,430.0,4.0,2003.0,0,NaN,NaN,NaN
25,26,d,a,2300.0,NaN,NaN,0,NaN,NaN,NaN
26,27,a,a,60.0,1.0,2005.0,1,5.0,2011.0,"Jan,Apr,Jul,Oct"
27,28,a,a,1200.0,10.0,2014.0,1,6.0,2015.0,"Mar,Jun,Sept,Dec"
28,29,d,c,2170.0,NaN,NaN,0,NaN,NaN,NaN
29,30,a,a,40.0,2.0,2014.0,1,10.0,2014.0,"Mar,Jun,Sept,Dec"
...,...,...,...,...,...,...,...,...,...,...
1085,1086,a,a,180.0,11.0,2013.0,1,18.0,2011.0,"Feb,May,Aug,Nov"
1086,1087,d,c,2210.0,11.0,2011.0,0,NaN,NaN,NaN
1087,1088,a,a,4300.0,3.0,2009.0,1,27.0,2013.0,"Jan,Apr,Jul,Oct"
1088,1089,d,a,5220.0,5.0,2009.0,0,NaN,NaN,NaN
1089,1090,a,a,330.0,NaN,NaN,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
1090,1091,a,c,9990.0,NaN,NaN,0,NaN,NaN,NaN
1091,1092,a,a,300.0,7.0,2000.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct"
1092,1093,c,c,10450.0,6.0,2009.0,0,NaN,NaN,NaN
1093,1094,d,a,2380.0,3.0,2013.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct"
1094,1095,a,a,690.0,6.0,2007.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
1095,1096,a,c,1130.0,NaN,NaN,1,10.0,2014.0,"Mar,Jun,Sept,Dec"
1096,1097,b,b,720.0,3.0,2002.0,0,NaN,NaN,NaN
1097,1098,a,a,1830.0,11.0,2004.0,0,NaN,NaN,NaN
1098,1099,a,c,200.0,4.0,2013.0,1,14.0,2013.0,"Jan,Apr,Jul,Oct"
1099,1100,a,a,540.0,NaN,NaN,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
1100,1101,d,c,4060.0,9.0,2012.0,0,NaN,NaN,NaN
1101,1102,a,a,850.0,11.0,2012.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct"
1102,1103,d,c,1340.0,10.0,2006.0,1,5.0,2013.0,"Feb,May,Aug,Nov"
1103,1104,d,a,260.0,2.0,2012.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
1104,1105,c,c,330.0,11.0,2008.0,1,5.0,2013.0,"Feb,May,Aug,Nov"
1105,1106,a,c,5330.0,9.0,2011.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1106,1107,a,a,1400.0,6.0,2012.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
1107,1108,a,a,540.0,4.0,2004.0,0,NaN,NaN,NaN
1108,1109,c,a,3490.0,4.0,2011.0,1,22.0,2012.0,"Jan,Apr,Jul,Oct"
1109,1110,c,c,900.0,9.0,2010.0,0,NaN,NaN,NaN
1110,1111,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1111,1112,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN
1112,1113,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN
1113,1114,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN
1114,1115,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

      Store  State
0         1     HE
1         2     TH
2         3     NW
3         4     BE
4         5     SN
5         6     SN
6         7     SH
7         8     SH
8         9     NW
9        10  HB,NI
10       11     SH
11       12     SH
12       13     BY
13       14     NW
14       15     SH
15       16     BW
16       17     TH
17       18     TH
18       19     NW
19       20     BY
20       21     BW
21       22     BY
22       23     RP
23       24     NW
24       25     NW
25       26     TH
26       27     NW
27       28     ST
28       29     NW
29       30     NW
...     ...    ...
1085   1086     HE
1086   1087  HB,NI
1087   1088     NW
1088   1089     NW
1089   1090     SN
1090   1091     SH
1091   1092     BY
1092   1093     SN
1093   1094     BY
1094   1095     TH
1095   1096     NW
1096   1097     RP
1097   1098     SN
1098   1099     SH
1099   1100     NW
1100   1101     SH
1101   1102     BY
1102   1103     HE
1103   1104     BY
1104   1105     NW
1105   1106     SH
1106   1107     BY
1107   1108     SN
1108   1109     BY
1109   1110     BE
1110   1111     NW
1111   1112     NW
1112   1113     SH
1113   1114     HH
1114   1115     HE

[1115 rows x 2 columns]

                StateName  State
0       BadenWuerttemberg     BW
1                  Bayern     BY
2                  Berlin     BE
3             Brandenburg     BB
4                  Bremen     HB
5                 Hamburg     HH
6                  Hessen     HE
7   MecklenburgVorpommern     MV
8           Niedersachsen  HB,NI
9      NordrheinWestfalen     NW
10         RheinlandPfalz     RP
11               Saarland     SL
12                Sachsen     SN
13          SachsenAnhalt     ST
14      SchleswigHolstein     SH
15             Thueringen     TH

                file                     week  trend
0     Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1     Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2     Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3     Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4     Rossmann_DE_SN  2012-12-30 - 2013-01-05     67
5     Rossmann_DE_SN  2013-01-06 - 2013-01-12     71
6     Rossmann_DE_SN  2013-01-13 - 2013-01-19     53
7     Rossmann_DE_SN  2013-01-20 - 2013-01-26     58
8     Rossmann_DE_SN  2013-01-27 - 2013-02-02     55
9     Rossmann_DE_SN  2013-02-03 - 2013-02-09     55
10    Rossmann_DE_SN  2013-02-10 - 2013-02-16     58
11    Rossmann_DE_SN  2013-02-17 - 2013-02-23     65
12    Rossmann_DE_SN  2013-02-24 - 2013-03-02     48
13    Rossmann_DE_SN  2013-03-03 - 2013-03-09     51
14    Rossmann_DE_SN  2013-03-10 - 2013-03-16     50
15    Rossmann_DE_SN  2013-03-17 - 2013-03-23     58
16    Rossmann_DE_SN  2013-03-24 - 2013-03-30     54
17    Rossmann_DE_SN  2013-03-31 - 2013-04-06     55
18    Rossmann_DE_SN  2013-04-07 - 2013-04-13     64
19    Rossmann_DE_SN  2013-04-14 - 2013-04-20     47
20    Rossmann_DE_SN  2013-04-21 - 2013-04-27     51
21    Rossmann_DE_SN  2013-04-28 - 2013-05-04     47
22    Rossmann_DE_SN  2013-05-05 - 2013-05-11     57
23    Rossmann_DE_SN  2013-05-12 - 2013-05-18     64
24    Rossmann_DE_SN  2013-05-19 - 2013-05-25     54
25    Rossmann_DE_SN  2013-05-26 - 2013-06-01     67
26    Rossmann_DE_SN  2013-06-02 - 2013-06-08     45
27    Rossmann_DE_SN  2013-06-09 - 2013-06-15     55
28    Rossmann_DE_SN  2013-06-16 - 2013-06-22     67
29    Rossmann_DE_SN  2013-06-23 - 2013-06-29     56
...              ...                      ...    ...
2042  Rossmann_DE_SL  2015-03-08 - 2015-03-14     60
2043  Rossmann_DE_SL  2015-03-15 - 2015-03-21     61
2044  Rossmann_DE_SL  2015-03-22 - 2015-03-28     80
2045  Rossmann_DE_SL  2015-03-29 - 2015-04-04     61
2046  Rossmann_DE_SL  2015-04-05 - 2015-04-11     67
2047  Rossmann_DE_SL  2015-04-12 - 2015-04-18     58
2048  Rossmann_DE_SL  2015-04-19 - 2015-04-25     67
2049  Rossmann_DE_SL  2015-04-26 - 2015-05-02     86
2050  Rossmann_DE_SL  2015-05-03 - 2015-05-09     70
2051  Rossmann_DE_SL  2015-05-10 - 2015-05-16     77
2052  Rossmann_DE_SL  2015-05-17 - 2015-05-23     77
2053  Rossmann_DE_SL  2015-05-24 - 2015-05-30     78
2054  Rossmann_DE_SL  2015-05-31 - 2015-06-06     95
2055  Rossmann_DE_SL  2015-06-07 - 2015-06-13     90
2056  Rossmann_DE_SL  2015-06-14 - 2015-06-20    100
2057  Rossmann_DE_SL  2015-06-21 - 2015-06-27     70
2058  Rossmann_DE_SL  2015-06-28 - 2015-07-04     83
2059  Rossmann_DE_SL  2015-07-05 - 2015-07-11     53
2060  Rossmann_DE_SL  2015-07-12 - 2015-07-18     53
2061  Rossmann_DE_SL  2015-07-19 - 2015-07-25     50
2062  Rossmann_DE_SL  2015-07-26 - 2015-08-01     69
2063  Rossmann_DE_SL  2015-08-02 - 2015-08-08     88
2064  Rossmann_DE_SL  2015-08-09 - 2015-08-15     68
2065  Rossmann_DE_SL  2015-08-16 - 2015-08-22     81
2066  Rossmann_DE_SL  2015-08-23 - 2015-08-29     48
2067  Rossmann_DE_SL  2015-08-30 - 2015-09-05     95
2068  Rossmann_DE_SL  2015-09-06 - 2015-09-12     47
2069  Rossmann_DE_SL  2015-09-13 - 2015-09-19     80
2070  Rossmann_DE_SL  2015-09-20 - 2015-09-26     57
2071  Rossmann_DE_SL  2015-09-27 - 2015-10-03      0

[2072 rows x 3 columns]

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Max_VisibilityKm,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,31.0,12.0,4.0,39,26,58.0,5.08,6.0,Rain,215
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,31.0,14.0,10.0,24,16,NaN,0.00,6.0,Rain,225
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,31.0,8.0,2.0,26,21,NaN,1.02,7.0,Rain,240
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,11.0,5.0,2.0,23,14,NaN,0.25,7.0,Rain,263
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,10.0,6.0,3.0,16,10,NaN,0.00,7.0,Rain,268
5,NordrheinWestfalen,2013-01-06,9,8,7,8,7,6,100,92,...,18.0,7.0,5.0,16,11,NaN,0.00,7.0,Rain,258
6,NordrheinWestfalen,2013-01-07,9,8,7,8,7,5,98,88,...,26.0,8.0,2.0,16,10,NaN,0.00,7.0,Rain,238
7,NordrheinWestfalen,2013-01-08,8,7,5,6,5,4,100,87,...,18.0,9.0,3.0,21,13,NaN,0.00,7.0,Rain,230
8,NordrheinWestfalen,2013-01-09,6,6,5,6,4,3,100,91,...,19.0,8.0,2.0,21,14,NaN,4.06,8.0,Rain,222
9,NordrheinWestfalen,2013-01-10,6,4,3,4,3,1,96,86,...,26.0,12.0,6.0,16,11,NaN,0.00,6.0,Rain,256
10,NordrheinWestfalen,2013-01-11,2,-1,-3,2,-3,-5,100,85,...,31.0,12.0,9.0,21,8,NaN,0.00,4.0,Fog-Rain-Snow,1
11,NordrheinWestfalen,2013-01-12,2,-2,-7,-3,-6,-8,100,79,...,31.0,17.0,10.0,16,6,NaN,0.00,2.0,NaN,106
12,NordrheinWestfalen,2013-01-13,1,-3,-6,-3,-6,-8,86,75,...,31.0,13.0,10.0,21,11,NaN,0.00,4.0,NaN,47
13,NordrheinWestfalen,2013-01-14,-2,-3,-5,-2,-5,-8,99,85,...,18.0,8.0,2.0,23,8,NaN,0.00,6.0,Snow,273
14,NordrheinWestfalen,2013-01-15,-1,-4,-7,-2,-4,-7,100,86,...,26.0,7.0,1.0,27,18,NaN,0.76,7.0,Snow,88
15,NordrheinWestfalen,2013-01-16,-3,-3,-4,-3,-4,-5,99,91,...,5.0,3.0,2.0,14,11,NaN,0.25,7.0,Snow,348
16,NordrheinWestfalen,2013-01-17,-2,-3,-4,-3,-4,-6,94,88,...,7.0,4.0,3.0,16,10,NaN,0.00,7.0,Rain-Snow,353
17,NordrheinWestfalen,2013-01-18,0,-2,-5,-3,-4,-7,94,82,...,31.0,11.0,8.0,21,11,NaN,0.00,6.0,Fog-Snow,64
18,NordrheinWestfalen,2013-01-19,-3,-4,-5,-5,-7,-9,80,74,...,26.0,13.0,10.0,26,18,NaN,0.00,7.0,NaN,61
19,NordrheinWestfalen,2013-01-20,0,-3,-7,-2,-6,-9,94,84,...,19.0,8.0,1.0,24,19,NaN,2.03,7.0,Rain-Snow,55
20,NordrheinWestfalen,2013-01-21,0,-1,-2,-1,-2,-3,100,91,...,7.0,5.0,2.0,16,11,NaN,0.00,7.0,Snow,118
21,NordrheinWestfalen,2013-01-22,1,-1,-3,-2,-3,-4,94,86,...,7.0,6.0,5.0,11,6,NaN,0.00,7.0,Snow,11
22,NordrheinWestfalen,2013-01-23,-1,-2,-3,-3,-4,-6,90,80,...,7.0,5.0,5.0,14,8,NaN,0.00,6.0,Snow,17
23,NordrheinWestfalen,2013-01-24,-2,-4,-6,-4,-6,-8,93,82,...,14.0,10.0,6.0,21,13,NaN,0.00,6.0,NaN,21
24,NordrheinWestfalen,2013-01-25,-2,-2,-3,-3,-4,-6,95,83,...,26.0,9.0,1.0,23,8,40.0,0.00,7.0,Fog-Rain-Snow,80
25,NordrheinWestfalen,2013-01-26,0,-2,-4,-1,-4,-6,100,81,...,26.0,11.0,3.0,34,24,48.0,0.00,7.0,Rain-Snow,158
26,NordrheinWestfalen,2013-01-27,4,2,-1,3,1,-2,95,86,...,26.0,12.0,5.0,35,21,53.0,3.05,7.0,Rain-Snow,174
27,NordrheinWestfalen,2013-01-28,6,3,0,3,2,-1,93,84,...,31.0,15.0,10.0,32,18,NaN,0.25,6.0,Rain,190
28,NordrheinWestfalen,2013-01-29,12,8,3,10,8,3,96,88,...,31.0,12.0,6.0,45,31,61.0,6.10,7.0,Rain,216
29,NordrheinWestfalen,2013-01-30,13,11,9,11,8,4,94,79,...,31.0,12.0,5.0,47,32,60.0,3.05,5.0,Rain-Thunderstorm,233
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15810,Saarland,2015-08-19,22,14,8,12,8,6,100,66,...,19.0,10.0,3.0,14,5,NaN,0.00,3.0,Fog,81
15811,Saarland,2015-08-20,25,18,11,13,9,5,94,58,...,31.0,24.0,10.0,10,5,NaN,0.00,1.0,NaN,48
15812,Saarland,2015-08-21,26,19,12,12,10,7,82,57,...,31.0,31.0,31.0,14,10,NaN,0.00,NaN,NaN,72
15813,Saarland,2015-08-22,26,19,13,12,8,5,72,49,...,31.0,31.0,31.0,21,13,NaN,0.00,NaN,NaN,75
15814,Saarland,2015-08-23,27,20,13,17,11,6,97,61,...,14.0,10.0,4.0,37,14,55.0,7.11,6.0,Rain,124
15815,Saarland,2015-08-24,19,17,15,17,14,9,98,83,...,31.0,12.0,3.0,32,13,48.0,7.11,6.0,Rain,177
15816,Saarland,2015-08-25,21,17,12,10,8,5,77,57,...,31.0,11.0,10.0,40,27,64.0,0.00,5.0,Rain,231
15817,Saarland,2015-08-26,26,19,12,13,9,7,72,51,...,10.0,10.0,10.0,21,13,NaN,0.00,5.0,NaN,186
15818,Saarland,2015-08-27,29,23,18,17,13,10,94,55,...,26.0,11.0,10.0,29,14,39.0,0.00,7.0,Rain,224
15819,Saarland,2015-08-28,19,18,16,18,17,15,100,93,...,31.0,8.0,2.0,18,11,NaN,5.08,7.0,Rain,266
15820,Saarland,2015-08-29,30,22,15,20,17,15,100,74,...,31.0,8.0,0.0,13,8,NaN,0.00,5.0,Fog,88
15821,Saarland,2015-08-30,32,25,18,19,16,12,96,58,...,31.0,28.0,26.0,19,10,NaN,0.00,NaN,NaN,183
15822,Saarland,2015-08-31,31,25,19,14,12,9,60,40,...,NaN,NaN,NaN,34,13,50.0,0.00,NaN,NaN,222
15823,Saarland,2015-09-01,21,18,14,18,15,12,99,83,...,26.0,11.0,1.0,34,8,NaN,5.08,5.0,Rain,281
15824,Saarland,2015-09-02,20,15,10,13,11,7,100,79,...,31.0,5.0,0.0,14,5,NaN,0.00,5.0,Fog-Rain,305
15825,Saarland,2015-09-03,20,15,10,13,9,5,94,68,...,31.0,16.0,10.0,23,8,NaN,0.00,4.0,NaN,272
15826,Saarland,2015-09-04,18,12,7,9,7,5,96,71,...,31.0,12.0,10.0,26,8,NaN,0.00,4.0,NaN,269
15827,Saarland,2015-09-05,16,10,5,9,7,5,100,76,...,31.0,12.0,6.0,24,10,NaN,0.25,6.0,Fog-Rain,278
15828,Saarland,2015-09-06,16,11,7,9,6,4,97,74,...,31.0,13.0,10.0,19,13,NaN,0.00,5.0,Rain,299
15829,Saarland,2015-09-07,16,10,5,11,8,4,99,82,...,31.0,14.0,7.0,14,6,NaN,0.25,6.0,Rain,291
15830,Saarland,2015-09-08,19,14,9,11,9,7,95,72,...,31.0,14.0,8.0,18,8,NaN,0.00,4.0,NaN,49
15831,Saarland,2015-09-09,20,14,9,11,7,5,93,65,...,31.0,18.0,10.0,23,16,NaN,0.00,2.0,NaN,61
15832,Saarland,2015-09-10,20,14,8,7,4,2,76,53,...,31.0,24.0,10.0,26,18,42.0,0.00,1.0,NaN,62
15833,Saarland,2015-09-11,21,14,7,8,6,2,87,58,...,31.0,20.0,10.0,21,13,NaN,0.00,6.0,NaN,71
15834,Saarland,2015-09-12,23,17,10,16,11,5,94,69,...,31.0,13.0,10.0,21,11,NaN,1.02,6.0,Rain,185
15835,Saarland,2015-09-13,21,17,12,16,14,12,100,88,...,31.0,15.0,10.0,27,10,50.0,1.02,7.0,Rain,113
15836,Saarland,2015-09-14,18,14,11,15,12,7,99,85,...,31.0,13.0,4.0,32,16,53.0,9.91,5.0,Rain-Thunderstorm,213
15837,Saarland,2015-09-15,16,12,9,11,8,7,93,77,...,31.0,12.0,10.0,34,14,NaN,0.00,5.0,Rain,193
15838,Saarland,2015-09-16,19,15,11,16,13,10,97,90,...,31.0,10.0,4.0,32,14,45.0,20.07,7.0,Rain-Thunderstorm,147
15839,Saarland,2015-09-17,14,13,12,14,12,10,99,92,...,31.0,14.0,8.0,27,16,47.0,6.10,6.0,Rain,202

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday
0,1,1,4,2015-09-17,1.0,1,0,0
1,2,3,4,2015-09-17,1.0,1,0,0
2,3,7,4,2015-09-17,1.0,1,0,0
3,4,8,4,2015-09-17,1.0,1,0,0
4,5,9,4,2015-09-17,1.0,1,0,0
5,6,10,4,2015-09-17,1.0,1,0,0
6,7,11,4,2015-09-17,1.0,1,0,0
7,8,12,4,2015-09-17,1.0,1,0,0
8,9,13,4,2015-09-17,1.0,1,0,0
9,10,14,4,2015-09-17,1.0,1,0,0
10,11,15,4,2015-09-17,1.0,1,0,0
11,12,16,4,2015-09-17,1.0,1,0,0
12,13,19,4,2015-09-17,1.0,1,0,0
13,14,20,4,2015-09-17,1.0,1,0,0
14,15,21,4,2015-09-17,1.0,1,0,0
15,16,22,4,2015-09-17,1.0,1,0,0
16,17,23,4,2015-09-17,1.0,1,0,0
17,18,24,4,2015-09-17,1.0,1,0,0
18,19,25,4,2015-09-17,1.0,1,0,0
19,20,27,4,2015-09-17,1.0,1,0,0
20,21,29,4,2015-09-17,1.0,1,0,0
21,22,30,4,2015-09-17,1.0,1,0,0
22,23,31,4,2015-09-17,1.0,1,0,0
23,24,32,4,2015-09-17,1.0,1,0,0
24,25,33,4,2015-09-17,1.0,1,0,0
25,26,35,4,2015-09-17,1.0,1,0,0
26,27,36,4,2015-09-17,1.0,1,0,0
27,28,38,4,2015-09-17,1.0,1,0,0
28,29,39,4,2015-09-17,1.0,1,0,0
29,30,40,4,2015-09-17,1.0,1,0,0
...,...,...,...,...,...,...,...,...
41058,41059,1077,6,2015-08-01,1.0,0,0,0
41059,41060,1078,6,2015-08-01,1.0,0,0,0
41060,41061,1079,6,2015-08-01,1.0,0,0,1
41061,41062,1080,6,2015-08-01,1.0,0,0,0
41062,41063,1083,6,2015-08-01,1.0,0,0,1
41063,41064,1084,6,2015-08-01,1.0,0,0,1
41064,41065,1086,6,2015-08-01,1.0,0,0,1
41065,41066,1087,6,2015-08-01,1.0,0,0,1
41066,41067,1088,6,2015-08-01,1.0,0,0,0
41067,41068,1089,6,2015-08-01,1.0,0,0,0
41068,41069,1091,6,2015-08-01,1.0,0,0,0
41069,41070,1092,6,2015-08-01,1.0,0,0,0
41070,41071,1094,6,2015-08-01,1.0,0,0,0
41071,41072,1096,6,2015-08-01,1.0,0,0,0
41072,41073,1097,6,2015-08-01,1.0,0,0,0
41073,41074,1099,6,2015-08-01,1.0,0,0,0
41074,41075,1100,6,2015-08-01,1.0,0,0,0
41075,41076,1101,6,2015-08-01,1.0,0,0,0
41076,41077,1102,6,2015-08-01,1.0,0,0,0
41077,41078,1103,6,2015-08-01,1.0,0,0,1
41078,41079,1104,6,2015-08-01,1.0,0,0,0
41079,41080,1105,6,2015-08-01,1.0,0,0,0
41080,41081,1106,6,2015-08-01,1.0,0,0,0
41081,41082,1107,6,2015-08-01,1.0,0,0,0
41082,41083,1109,6,2015-08-01,1.0,0,0,0
41083,41084,1111,6,2015-08-01,1.0,0,0,0
41084,41085,1112,6,2015-08-01,1.0,0,0,0
41085,41086,1113,6,2015-08-01,1.0,0,0,0
41086,41087,1114,6,2015-08-01,1.0,0,0,0
41087,41088,1115,6,2015-08-01,1.0,0,0,1

## Data Cleaning / Feature Engineering

As a structured data problem, we necessarily have to go through all the cleaning and feature engineering, even though we're using a neural network.

In [10]:
train, store, store_states, state_names, googletrend, weather, test = tables

In [11]:
len(train),len(test)

(1017209, 41088)

We turn state Holidays to booleans, to make them more convenient for modeling. We can do calculations on pandas fields using notation very similar (often identical) to numpy.

In [12]:
train.StateHoliday = train.StateHoliday!='0'
test.StateHoliday = test.StateHoliday!='0'

`join_df` is a function for joining tables on specific fields. By default, we'll be doing a left outer join of `right` on the `left` argument using the given fields for each table.

Pandas does joins using the `merge` method. The `suffixes` argument describes the naming convention for duplicate fields. We've elected to leave the duplicate field names on the left untouched, and append a "\_y" to those on the right.

In [13]:
def join_df(left, right, left_on, right_on=None, suffix='_y'):
    if right_on is None: right_on = left_on
    return left.merge(right, how='left', left_on=left_on, right_on=right_on, 
                      suffixes=("", suffix))

Join weather/state names.

In [14]:
weather = join_df(weather, state_names, "file", "StateName")

In [15]:
weather

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees,StateName,State
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,4.0,39,26,58.0,5.08,6.0,Rain,215,NordrheinWestfalen,NW
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,10.0,24,16,NaN,0.00,6.0,Rain,225,NordrheinWestfalen,NW
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,2.0,26,21,NaN,1.02,7.0,Rain,240,NordrheinWestfalen,NW
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,2.0,23,14,NaN,0.25,7.0,Rain,263,NordrheinWestfalen,NW
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,3.0,16,10,NaN,0.00,7.0,Rain,268,NordrheinWestfalen,NW
5,NordrheinWestfalen,2013-01-06,9,8,7,8,7,6,100,92,...,5.0,16,11,NaN,0.00,7.0,Rain,258,NordrheinWestfalen,NW
6,NordrheinWestfalen,2013-01-07,9,8,7,8,7,5,98,88,...,2.0,16,10,NaN,0.00,7.0,Rain,238,NordrheinWestfalen,NW
7,NordrheinWestfalen,2013-01-08,8,7,5,6,5,4,100,87,...,3.0,21,13,NaN,0.00,7.0,Rain,230,NordrheinWestfalen,NW
8,NordrheinWestfalen,2013-01-09,6,6,5,6,4,3,100,91,...,2.0,21,14,NaN,4.06,8.0,Rain,222,NordrheinWestfalen,NW
9,NordrheinWestfalen,2013-01-10,6,4,3,4,3,1,96,86,...,6.0,16,11,NaN,0.00,6.0,Rain,256,NordrheinWestfalen,NW
10,NordrheinWestfalen,2013-01-11,2,-1,-3,2,-3,-5,100,85,...,9.0,21,8,NaN,0.00,4.0,Fog-Rain-Snow,1,NordrheinWestfalen,NW
11,NordrheinWestfalen,2013-01-12,2,-2,-7,-3,-6,-8,100,79,...,10.0,16,6,NaN,0.00,2.0,NaN,106,NordrheinWestfalen,NW
12,NordrheinWestfalen,2013-01-13,1,-3,-6,-3,-6,-8,86,75,...,10.0,21,11,NaN,0.00,4.0,NaN,47,NordrheinWestfalen,NW
13,NordrheinWestfalen,2013-01-14,-2,-3,-5,-2,-5,-8,99,85,...,2.0,23,8,NaN,0.00,6.0,Snow,273,NordrheinWestfalen,NW
14,NordrheinWestfalen,2013-01-15,-1,-4,-7,-2,-4,-7,100,86,...,1.0,27,18,NaN,0.76,7.0,Snow,88,NordrheinWestfalen,NW
15,NordrheinWestfalen,2013-01-16,-3,-3,-4,-3,-4,-5,99,91,...,2.0,14,11,NaN,0.25,7.0,Snow,348,NordrheinWestfalen,NW
16,NordrheinWestfalen,2013-01-17,-2,-3,-4,-3,-4,-6,94,88,...,3.0,16,10,NaN,0.00,7.0,Rain-Snow,353,NordrheinWestfalen,NW
17,NordrheinWestfalen,2013-01-18,0,-2,-5,-3,-4,-7,94,82,...,8.0,21,11,NaN,0.00,6.0,Fog-Snow,64,NordrheinWestfalen,NW
18,NordrheinWestfalen,2013-01-19,-3,-4,-5,-5,-7,-9,80,74,...,10.0,26,18,NaN,0.00,7.0,NaN,61,NordrheinWestfalen,NW
19,NordrheinWestfalen,2013-01-20,0,-3,-7,-2,-6,-9,94,84,...,1.0,24,19,NaN,2.03,7.0,Rain-Snow,55,NordrheinWestfalen,NW
20,NordrheinWestfalen,2013-01-21,0,-1,-2,-1,-2,-3,100,91,...,2.0,16,11,NaN,0.00,7.0,Snow,118,NordrheinWestfalen,NW
21,NordrheinWestfalen,2013-01-22,1,-1,-3,-2,-3,-4,94,86,...,5.0,11,6,NaN,0.00,7.0,Snow,11,NordrheinWestfalen,NW
22,NordrheinWestfalen,2013-01-23,-1,-2,-3,-3,-4,-6,90,80,...,5.0,14,8,NaN,0.00,6.0,Snow,17,NordrheinWestfalen,NW
23,NordrheinWestfalen,2013-01-24,-2,-4,-6,-4,-6,-8,93,82,...,6.0,21,13,NaN,0.00,6.0,NaN,21,NordrheinWestfalen,NW
24,NordrheinWestfalen,2013-01-25,-2,-2,-3,-3,-4,-6,95,83,...,1.0,23,8,40.0,0.00,7.0,Fog-Rain-Snow,80,NordrheinWestfalen,NW
25,NordrheinWestfalen,2013-01-26,0,-2,-4,-1,-4,-6,100,81,...,3.0,34,24,48.0,0.00,7.0,Rain-Snow,158,NordrheinWestfalen,NW
26,NordrheinWestfalen,2013-01-27,4,2,-1,3,1,-2,95,86,...,5.0,35,21,53.0,3.05,7.0,Rain-Snow,174,NordrheinWestfalen,NW
27,NordrheinWestfalen,2013-01-28,6,3,0,3,2,-1,93,84,...,10.0,32,18,NaN,0.25,6.0,Rain,190,NordrheinWestfalen,NW
28,NordrheinWestfalen,2013-01-29,12,8,3,10,8,3,96,88,...,6.0,45,31,61.0,6.10,7.0,Rain,216,NordrheinWestfalen,NW
29,NordrheinWestfalen,2013-01-30,13,11,9,11,8,4,94,79,...,5.0,47,32,60.0,3.05,5.0,Rain-Thunderstorm,233,NordrheinWestfalen,NW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15810,Saarland,2015-08-19,22,14,8,12,8,6,100,66,...,3.0,14,5,NaN,0.00,3.0,Fog,81,Saarland,SL
15811,Saarland,2015-08-20,25,18,11,13,9,5,94,58,...,10.0,10,5,NaN,0.00,1.0,NaN,48,Saarland,SL
15812,Saarland,2015-08-21,26,19,12,12,10,7,82,57,...,31.0,14,10,NaN,0.00,NaN,NaN,72,Saarland,SL
15813,Saarland,2015-08-22,26,19,13,12,8,5,72,49,...,31.0,21,13,NaN,0.00,NaN,NaN,75,Saarland,SL
15814,Saarland,2015-08-23,27,20,13,17,11,6,97,61,...,4.0,37,14,55.0,7.11,6.0,Rain,124,Saarland,SL
15815,Saarland,2015-08-24,19,17,15,17,14,9,98,83,...,3.0,32,13,48.0,7.11,6.0,Rain,177,Saarland,SL
15816,Saarland,2015-08-25,21,17,12,10,8,5,77,57,...,10.0,40,27,64.0,0.00,5.0,Rain,231,Saarland,SL
15817,Saarland,2015-08-26,26,19,12,13,9,7,72,51,...,10.0,21,13,NaN,0.00,5.0,NaN,186,Saarland,SL
15818,Saarland,2015-08-27,29,23,18,17,13,10,94,55,...,10.0,29,14,39.0,0.00,7.0,Rain,224,Saarland,SL
15819,Saarland,2015-08-28,19,18,16,18,17,15,100,93,...,2.0,18,11,NaN,5.08,7.0,Rain,266,Saarland,SL
15820,Saarland,2015-08-29,30,22,15,20,17,15,100,74,...,0.0,13,8,NaN,0.00,5.0,Fog,88,Saarland,SL
15821,Saarland,2015-08-30,32,25,18,19,16,12,96,58,...,26.0,19,10,NaN,0.00,NaN,NaN,183,Saarland,SL
15822,Saarland,2015-08-31,31,25,19,14,12,9,60,40,...,NaN,34,13,50.0,0.00,NaN,NaN,222,Saarland,SL
15823,Saarland,2015-09-01,21,18,14,18,15,12,99,83,...,1.0,34,8,NaN,5.08,5.0,Rain,281,Saarland,SL
15824,Saarland,2015-09-02,20,15,10,13,11,7,100,79,...,0.0,14,5,NaN,0.00,5.0,Fog-Rain,305,Saarland,SL
15825,Saarland,2015-09-03,20,15,10,13,9,5,94,68,...,10.0,23,8,NaN,0.00,4.0,NaN,272,Saarland,SL
15826,Saarland,2015-09-04,18,12,7,9,7,5,96,71,...,10.0,26,8,NaN,0.00,4.0,NaN,269,Saarland,SL
15827,Saarland,2015-09-05,16,10,5,9,7,5,100,76,...,6.0,24,10,NaN,0.25,6.0,Fog-Rain,278,Saarland,SL
15828,Saarland,2015-09-06,16,11,7,9,6,4,97,74,...,10.0,19,13,NaN,0.00,5.0,Rain,299,Saarland,SL
15829,Saarland,2015-09-07,16,10,5,11,8,4,99,82,...,7.0,14,6,NaN,0.25,6.0,Rain,291,Saarland,SL
15830,Saarland,2015-09-08,19,14,9,11,9,7,95,72,...,8.0,18,8,NaN,0.00,4.0,NaN,49,Saarland,SL
15831,Saarland,2015-09-09,20,14,9,11,7,5,93,65,...,10.0,23,16,NaN,0.00,2.0,NaN,61,Saarland,SL
15832,Saarland,2015-09-10,20,14,8,7,4,2,76,53,...,10.0,26,18,42.0,0.00,1.0,NaN,62,Saarland,SL
15833,Saarland,2015-09-11,21,14,7,8,6,2,87,58,...,10.0,21,13,NaN,0.00,6.0,NaN,71,Saarland,SL
15834,Saarland,2015-09-12,23,17,10,16,11,5,94,69,...,10.0,21,11,NaN,1.02,6.0,Rain,185,Saarland,SL
15835,Saarland,2015-09-13,21,17,12,16,14,12,100,88,...,10.0,27,10,50.0,1.02,7.0,Rain,113,Saarland,SL
15836,Saarland,2015-09-14,18,14,11,15,12,7,99,85,...,4.0,32,16,53.0,9.91,5.0,Rain-Thunderstorm,213,Saarland,SL
15837,Saarland,2015-09-15,16,12,9,11,8,7,93,77,...,10.0,34,14,NaN,0.00,5.0,Rain,193,Saarland,SL
15838,Saarland,2015-09-16,19,15,11,16,13,10,97,90,...,4.0,32,14,45.0,20.07,7.0,Rain-Thunderstorm,147,Saarland,SL
15839,Saarland,2015-09-17,14,13,12,14,12,10,99,92,...,8.0,27,16,47.0,6.10,6.0,Rain,202,Saarland,SL

In pandas you can add new columns to a dataframe by simply defining it. We'll do this for googletrends by extracting dates and state names from the given data and adding those columns.

We're also going to replace all instances of state name 'NI' to match the usage in the rest of the data: 'HB,NI'. This is a good opportunity to highlight pandas indexing. We can use `.loc[rows, cols]` to select a list of rows and a list of columns from the dataframe. In this case, we're selecting rows w/ statename 'NI' by using a boolean list `googletrend.State=='NI'` and selecting "State".

In [16]:
googletrend['Date'] = googletrend.week.str.split(' - ', expand=True)[0]
googletrend['State'] = googletrend.file.str.split('_', expand=True)[2]
googletrend.loc[googletrend.State=='NI', "State"] = 'HB,NI'

The following extracts particular date fields from a complete datetime for the purpose of constructing categoricals.

You should *always* consider this feature extraction step when working with date-time. Without expanding your date-time into these additional fields, you can't capture any trend/cyclical behavior as a function of time at any of these granularities. We'll add to every table with a date field.

In [17]:
add_datepart(weather, "Date", drop=False)
add_datepart(googletrend, "Date", drop=False)
add_datepart(train, "Date", drop=False)
add_datepart(test, "Date", drop=False)

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,Year,Month,...,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
0,1,1,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
1,2,3,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
2,3,7,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
3,4,8,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
4,5,9,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
5,6,10,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
6,7,11,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
7,8,12,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
8,9,13,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
9,10,14,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
10,11,15,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
11,12,16,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
12,13,19,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
13,14,20,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
14,15,21,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
15,16,22,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
16,17,23,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
17,18,24,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
18,19,25,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
19,20,27,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
20,21,29,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
21,22,30,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
22,23,31,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
23,24,32,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
24,25,33,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
25,26,35,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
26,27,36,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
27,28,38,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
28,29,39,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
29,30,40,4,2015-09-17,1.0,1,False,0,2015,9,...,17,3,260,False,False,False,False,False,False,1442448000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41058,41059,1077,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41059,41060,1078,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41060,41061,1079,6,2015-08-01,1.0,0,False,1,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41061,41062,1080,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41062,41063,1083,6,2015-08-01,1.0,0,False,1,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41063,41064,1084,6,2015-08-01,1.0,0,False,1,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41064,41065,1086,6,2015-08-01,1.0,0,False,1,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41065,41066,1087,6,2015-08-01,1.0,0,False,1,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41066,41067,1088,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41067,41068,1089,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41068,41069,1091,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41069,41070,1092,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41070,41071,1094,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41071,41072,1096,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41072,41073,1097,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41073,41074,1099,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41074,41075,1100,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41075,41076,1101,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41076,41077,1102,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41077,41078,1103,6,2015-08-01,1.0,0,False,1,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41078,41079,1104,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41079,41080,1105,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41080,41081,1106,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41081,41082,1107,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41082,41083,1109,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41083,41084,1111,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41084,41085,1112,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41085,41086,1113,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41086,41087,1114,6,2015-08-01,1.0,0,False,0,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200
41087,41088,1115,6,2015-08-01,1.0,0,False,1,2015,8,...,1,5,213,False,True,False,False,False,False,1438387200

The Google trends data has a special category for the whole of Germany - we'll pull that out so we can use it explicitly.

In [18]:
trend_de = googletrend[googletrend.file == 'Rossmann_DE']

In [19]:
trend_de

,file,week,trend,Date,State,Year,Month,Week,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
148,Rossmann_DE,2012-12-02 - 2012-12-08,77,2012-12-02,None,2012,12,48,2,6,337,False,False,False,False,False,False,1354406400
149,Rossmann_DE,2012-12-09 - 2012-12-15,76,2012-12-09,None,2012,12,49,9,6,344,False,False,False,False,False,False,1355011200
150,Rossmann_DE,2012-12-16 - 2012-12-22,85,2012-12-16,None,2012,12,50,16,6,351,False,False,False,False,False,False,1355616000
151,Rossmann_DE,2012-12-23 - 2012-12-29,59,2012-12-23,None,2012,12,51,23,6,358,False,False,False,False,False,False,1356220800
152,Rossmann_DE,2012-12-30 - 2013-01-05,61,2012-12-30,None,2012,12,52,30,6,365,False,False,False,False,False,False,1356825600
153,Rossmann_DE,2013-01-06 - 2013-01-12,62,2013-01-06,None,2013,1,1,6,6,6,False,False,False,False,False,False,1357430400
154,Rossmann_DE,2013-01-13 - 2013-01-19,51,2013-01-13,None,2013,1,2,13,6,13,False,False,False,False,False,False,1358035200
155,Rossmann_DE,2013-01-20 - 2013-01-26,56,2013-01-20,None,2013,1,3,20,6,20,False,False,False,False,False,False,1358640000
156,Rossmann_DE,2013-01-27 - 2013-02-02,50,2013-01-27,None,2013,1,4,27,6,27,False,False,False,False,False,False,1359244800
157,Rossmann_DE,2013-02-03 - 2013-02-09,58,2013-02-03,None,2013,2,5,3,6,34,False,False,False,False,False,False,1359849600
158,Rossmann_DE,2013-02-10 - 2013-02-16,51,2013-02-10,None,2013,2,6,10,6,41,False,False,False,False,False,False,1360454400
159,Rossmann_DE,2013-02-17 - 2013-02-23,58,2013-02-17,None,2013,2,7,17,6,48,False,False,False,False,False,False,1361059200
160,Rossmann_DE,2013-02-24 - 2013-03-02,51,2013-02-24,None,2013,2,8,24,6,55,False,False,False,False,False,False,1361664000
161,Rossmann_DE,2013-03-03 - 2013-03-09,55,2013-03-03,None,2013,3,9,3,6,62,False,False,False,False,False,False,1362268800
162,Rossmann_DE,2013-03-10 - 2013-03-16,54,2013-03-10,None,2013,3,10,10,6,69,False,False,False,False,False,False,1362873600
163,Rossmann_DE,2013-03-17 - 2013-03-23,62,2013-03-17,None,2013,3,11,17,6,76,False,False,False,False,False,False,1363478400
164,Rossmann_DE,2013-03-24 - 2013-03-30,57,2013-03-24,None,2013,3,12,24,6,83,False,False,False,False,False,False,1364083200
165,Rossmann_DE,2013-03-31 - 2013-04-06,57,2013-03-31,None,2013,3,13,31,6,90,True,False,True,False,False,False,1364688000
166,Rossmann_DE,2013-04-07 - 2013-04-13,59,2013-04-07,None,2013,4,14,7,6,97,False,False,False,False,False,False,1365292800
167,Rossmann_DE,2013-04-14 - 2013-04-20,50,2013-04-14,None,2013,4,15,14,6,104,False,False,False,False,False,False,1365897600
168,Rossmann_DE,2013-04-21 - 2013-04-27,59,2013-04-21,None,2013,4,16,21,6,111,False,False,False,False,False,False,1366502400
169,Rossmann_DE,2013-04-28 - 2013-05-04,52,2013-04-28,None,2013,4,17,28,6,118,False,False,False,False,False,False,1367107200
170,Rossmann_DE,2013-05-05 - 2013-05-11,56,2013-05-05,None,2013,5,18,5,6,125,False,False,False,False,False,False,1367712000
171,Rossmann_DE,2013-05-12 - 2013-05-18,60,2013-05-12,None,2013,5,19,12,6,132,False,False,False,False,False,False,1368316800
172,Rossmann_DE,2013-05-19 - 2013-05-25,53,2013-05-19,None,2013,5,20,19,6,139,False,False,False,False,False,False,1368921600
173,Rossmann_DE,2013-05-26 - 2013-06-01,65,2013-05-26,None,2013,5,21,26,6,146,False,False,False,False,False,False,1369526400
174,Rossmann_DE,2013-06-02 - 2013-06-08,55,2013-06-02,None,2013,6,22,2,6,153,False,False,False,False,False,False,1370131200
175,Rossmann_DE,2013-06-09 - 2013-06-15,55,2013-06-09,None,2013,6,23,9,6,160,False,False,False,False,False,False,1370736000
176,Rossmann_DE,2013-06-16 - 2013-06-22,67,2013-06-16,None,2013,6,24,16,6,167,False,False,False,False,False,False,1371340800
177,Rossmann_DE,2013-06-23 - 2013-06-29,59,2013-06-23,None,2013,6,25,23,6,174,False,False,False,False,False,False,1371945600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,Rossmann_DE,2015-03-08 - 2015-03-14,64,2015-03-08,None,2015,3,10,8,6,67,False,False,False,False,False,False,1425772800
267,Rossmann_DE,2015-03-15 - 2015-03-21,74,2015-03-15,None,2015,3,11,15,6,74,False,False,False,False,False,False,1426377600
268,Rossmann_DE,2015-03-22 - 2015-03-28,63,2015-03-22,None,2015,3,12,22,6,81,False,False,False,False,False,False,1426982400
269,Rossmann_DE,2015-03-29 - 2015-04-04,75,2015-03-29,None,2015,3,13,29,6,88,False,False,False,False,False,False,1427587200
270,Rossmann_DE,2015-04-05 - 2015-04-11,66,2015-04-05,None,2015,4,14,5,6,95,False,False,False,False,False,False,1428192000
271,Rossmann_DE,2015-04-12 - 2015-04-18,69,2015-04-12,None,2015,4,15,12,6,102,False,False,False,False,False,False,1428796800
272,Rossmann_DE,2015-04-19 - 2015-04-25,65,2015-04-19,None,2015,4,16,19,6,109,False,False,False,False,False,False,1429401600
273,Rossmann_DE,2015-04-26 - 2015-05-02,79,2015-04-26,None,2015,4,17,26,6,116,False,False,False,False,False,False,1430006400
274,Rossmann_DE,2015-05-03 - 2015-05-09,73,2015-05-03,None,2015,5,18,3,6,123,False,False,False,False,False,False,1430611200
275,Rossmann_DE,2015-05-10 - 2015-05-16,67,2015-05-10,None,2015,5,19,10,6,130,False,False,False,False,False,False,1431216000
276,Rossmann_DE,2015-05-17 - 2015-05-23,76,2015-05-17,None,2015,5,20,17,6,137,False,False,False,False,False,False,1431820800
277,Rossmann_DE,2015-05-24 - 2015-05-30,70,2015-05-24,None,2015,5,21,24,6,144,False,False,False,False,False,False,1432425600
278,Rossmann_DE,2015-05-31 - 2015-06-06,77,2015-05-31,None,2015,5,22,31,6,151,True,False,False,False,False,False,1433030400
279,Rossmann_DE,2015-06-07 - 2015-06-13,68,2015-06-07,None,2015,6,23,7,6,158,False,False,False,False,False,False,1433635200
280,Rossmann_DE,2015-06-14 - 2015-06-20,82,2015-06-14,None,2015,6,24,14,6,165,False,False,False,False,False,False,1434240000
281,Rossmann_DE,2015-06-21 - 2015-06-27,71,2015-06-21,None,2015,6,25,21,6,172,False,False,False,False,False,False,1434844800
282,Rossmann_DE,2015-06-28 - 2015-07-04,86,2015-06-28,None,2015,6,26,28,6,179,False,False,False,False,False,False,1435449600
283,Rossmann_DE,2015-07-05 - 2015-07-11,74,2015-07-05,None,2015,7,27,5,6,186,False,False,False,False,False,False,1436054400
284,Rossmann_DE,2015-07-12 - 2015-07-18,86,2015-07-12,None,2015,7,28,12,6,193,False,False,False,False,False,False,1436659200
285,Rossmann_DE,2015-07-19 - 2015-07-25,74,2015-07-19,None,2015,7,29,19,6,200,False,False,False,False,False,False,1437264000
286,Rossmann_DE,2015-07-26 - 2015-08-01,87,2015-07-26,None,2015,7,30,26,6,207,False,False,False,False,False,False,1437868800
287,Rossmann_DE,2015-08-02 - 2015-08-08,83,2015-08-02,None,2015,8,31,2,6,214,False,False,False,False,False,False,1438473600
288,Rossmann_DE,2015-08-09 - 2015-08-15,76,2015-08-09,None,2015,8,32,9,6,221,False,False,False,False,False,False,1439078400
289,Rossmann_DE,2015-08-16 - 2015-08-22,84,2015-08-16,None,2015,8,33,16,6,228,False,False,False,False,False,False,1439683200
290,Rossmann_DE,2015-08-23 - 2015-08-29,70,2015-08-23,None,2015,8,34,23,6,235,False,False,False,False,False,False,1440288000
291,Rossmann_DE,2015-08-30 - 2015-09-05,78,2015-08-30,None,2015,8,35,30,6,242,False,False,False,False,False,False,1440892800
292,Rossmann_DE,2015-09-06 - 2015-09-12,71,2015-09-06,None,2015,9,36,6,6,249,False,False,False,False,False,False,1441497600
293,Rossmann_DE,2015-09-13 - 2015-09-19,77,2015-09-13,None,2015,9,37,13,6,256,False,False,False,False,False,False,1442102400
294,Rossmann_DE,2015-09-20 - 2015-09-26,67,2015-09-20,None,2015,9,38,20,6,263,False,False,False,False,False,False,1442707200
295,Rossmann_DE,2015-09-27 - 2015-10-03,71,2015-09-27,None,2015,9,39,27,6,270,False,False,False,False,False,False,1443312000

Now we can outer join all of our data into a single dataframe. Recall that in outer joins everytime a value in the joining field on the left table does not have a corresponding value on the right table, the corresponding row in the new table has Null values for all right table fields. One way to check that all records are consistent and complete is to check for Null values post-join, as we do here.

*Aside*: Why note just do an inner join?
If you are assuming that all records are complete and match on the field you desire, an inner join will do the same thing as an outer join. However, in the event you are wrong or a mistake is made, an outer join followed by a null-check will catch it. (Comparing before/after # of rows for inner join is equivalent, but requires keeping track of before/after row #'s. Outer join is easier.)

In [20]:
store = join_df(store, store_states, "Store")
len(store[store.State.isnull()])

0

In [21]:
joined = join_df(train, store, "Store")
joined_test = join_df(test, store, "Store")
len(joined[joined.StoreType.isnull()]),len(joined_test[joined_test.StoreType.isnull()])

(0, 0)

In [22]:
joined = join_df(joined, googletrend, ["State","Year", "Week"])
joined_test = join_df(joined_test, googletrend, ["State","Year", "Week"])
len(joined[joined.trend.isnull()]),len(joined_test[joined_test.trend.isnull()])

(0, 0)

In [23]:
joined = joined.merge(trend_de, 'left', ["Year", "Week"], suffixes=('', '_DE'))
joined_test = joined_test.merge(trend_de, 'left', ["Year", "Week"], suffixes=('', '_DE'))
len(joined[joined.trend_DE.isnull()]),len(joined_test[joined_test.trend_DE.isnull()])

(0, 0)

In [24]:
joined = join_df(joined, weather, ["State","Date"])
joined_test = join_df(joined_test, weather, ["State","Date"])
len(joined[joined.Mean_TemperatureC.isnull()]),len(joined_test[joined_test.Mean_TemperatureC.isnull()])

(0, 0)

In [25]:
for df in (joined, joined_test):
    for c in df.columns:
        if c.endswith('_y'):
            if c in df.columns: df.drop(c, inplace=True, axis=1)

Next we'll fill in missing values to avoid complications with `NA`'s. `NA` (not available) is how Pandas indicates missing values; many models have problems when missing values are present, so it's always important to think about how to deal with them. In these cases, we are picking an arbitrary *signal value* that doesn't otherwise appear in the data.

In [26]:
for df in (joined,joined_test):
    df['CompetitionOpenSinceYear'] = df.CompetitionOpenSinceYear.fillna(1900).astype(np.int32)
    df['CompetitionOpenSinceMonth'] = df.CompetitionOpenSinceMonth.fillna(1).astype(np.int32)
    df['Promo2SinceYear'] = df.Promo2SinceYear.fillna(1900).astype(np.int32)
    df['Promo2SinceWeek'] = df.Promo2SinceWeek.fillna(1).astype(np.int32)

Next we'll extract features "CompetitionOpenSince" and "CompetitionDaysOpen". Note the use of `apply()` in mapping a function across dataframe values.

In [27]:
for df in (joined,joined_test):
    df["CompetitionOpenSince"] = pd.to_datetime(dict(year=df.CompetitionOpenSinceYear, 
                                                     month=df.CompetitionOpenSinceMonth, day=15))
    df["CompetitionDaysOpen"] = df.Date.subtract(df.CompetitionOpenSince).dt.days

We'll replace some erroneous / outlying data.

In [28]:
for df in (joined,joined_test):
    df.loc[df.CompetitionDaysOpen<0, "CompetitionDaysOpen"] = 0
    df.loc[df.CompetitionOpenSinceYear<1990, "CompetitionDaysOpen"] = 0

We add "CompetitionMonthsOpen" field, limiting the maximum to 2 years to limit number of unique categories.

In [29]:
for df in (joined,joined_test):
    df["CompetitionMonthsOpen"] = df["CompetitionDaysOpen"]//30
    df.loc[df.CompetitionMonthsOpen>24, "CompetitionMonthsOpen"] = 24
joined.CompetitionMonthsOpen.unique()

array([24,  3, 19,  9,  0, 16, 17,  7, 15, 22, 11, 13,  2, 23, 12,  4, 10,  1, 14, 20,  8, 18,  6, 21,  5])

Same process for Promo dates.

In [30]:
df

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,Year,Month,...,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees,StateName,CompetitionOpenSince,CompetitionDaysOpen,CompetitionMonthsOpen
0,1,1,4,2015-09-17,1.0,1,False,0,2015,9,...,14,NaN,7.11,6.0,Rain,191,Hessen,2008-09-15,2558,24
1,2,3,4,2015-09-17,1.0,1,False,0,2015,9,...,26,53.0,3.05,6.0,Rain,187,NordrheinWestfalen,2006-12-15,3198,24
2,3,7,4,2015-09-17,1.0,1,False,0,2015,9,...,14,45.0,0.76,5.0,Rain,209,SchleswigHolstein,2013-04-15,885,24
3,4,8,4,2015-09-17,1.0,1,False,0,2015,9,...,14,45.0,0.76,5.0,Rain,209,SchleswigHolstein,2014-10-15,337,11
4,5,9,4,2015-09-17,1.0,1,False,0,2015,9,...,26,53.0,3.05,6.0,Rain,187,NordrheinWestfalen,2000-08-15,5511,24
5,6,10,4,2015-09-17,1.0,1,False,0,2015,9,...,29,58.0,3.05,6.0,Rain,201,Niedersachsen,2009-09-15,2193,24
6,7,11,4,2015-09-17,1.0,1,False,0,2015,9,...,14,45.0,0.76,5.0,Rain,209,SchleswigHolstein,2011-11-15,1402,24
7,8,12,4,2015-09-17,1.0,1,False,0,2015,9,...,14,45.0,0.76,5.0,Rain,209,SchleswigHolstein,1900-01-15,0,0
8,9,13,4,2015-09-17,1.0,1,False,0,2015,9,...,13,58.0,0.00,6.0,Rain,261,Bayern,1900-01-15,0,0
9,10,14,4,2015-09-17,1.0,1,False,0,2015,9,...,26,53.0,3.05,6.0,Rain,187,NordrheinWestfalen,2014-03-15,551,18
10,11,15,4,2015-09-17,1.0,1,False,0,2015,9,...,14,45.0,0.76,5.0,Rain,209,SchleswigHolstein,2010-03-15,2012,24
11,12,16,4,2015-09-17,1.0,1,False,0,2015,9,...,6,NaN,5.08,5.0,Rain,229,BadenWuerttemberg,1900-01-15,0,0
12,13,19,4,2015-09-17,1.0,1,False,0,2015,9,...,26,53.0,3.05,6.0,Rain,187,NordrheinWestfalen,1900-01-15,0,0
13,14,20,4,2015-09-17,1.0,1,False,0,2015,9,...,13,58.0,0.00,6.0,Rain,261,Bayern,2009-05-15,2316,24
14,15,21,4,2015-09-17,1.0,1,False,0,2015,9,...,6,NaN,5.08,5.0,Rain,229,BadenWuerttemberg,1999-10-15,5816,24
15,16,22,4,2015-09-17,1.0,1,False,0,2015,9,...,13,58.0,0.00,6.0,Rain,261,Bayern,1900-01-15,0,0
16,17,23,4,2015-09-17,1.0,1,False,0,2015,9,...,14,35.0,7.87,6.0,Rain,196,RheinlandPfalz,2005-08-15,3685,24
17,18,24,4,2015-09-17,1.0,1,False,0,2015,9,...,26,53.0,3.05,6.0,Rain,187,NordrheinWestfalen,2000-03-15,5664,24
18,19,25,4,2015-09-17,1.0,1,False,0,2015,9,...,26,53.0,3.05,6.0,Rain,187,NordrheinWestfalen,2003-04-15,4538,24
19,20,27,4,2015-09-17,1.0,1,False,0,2015,9,...,26,53.0,3.05,6.0,Rain,187,NordrheinWestfalen,2005-01-15,3897,24
20,21,29,4,2015-09-17,1.0,1,False,0,2015,9,...,26,53.0,3.05,6.0,Rain,187,NordrheinWestfalen,1900-01-15,0,0
21,22,30,4,2015-09-17,1.0,1,False,0,2015,9,...,26,53.0,3.05,6.0,Rain,187,NordrheinWestfalen,2014-02-15,579,19
22,23,31,4,2015-09-17,1.0,1,False,0,2015,9,...,14,45.0,0.76,5.0,Rain,209,SchleswigHolstein,2012-07-15,1159,24
23,24,32,4,2015-09-17,1.0,1,False,0,2015,9,...,13,58.0,0.00,6.0,Rain,261,Bayern,1900-01-15,0,0
24,25,33,4,2015-09-17,1.0,1,False,0,2015,9,...,26,53.0,3.05,6.0,Rain,187,NordrheinWestfalen,2013-05-15,855,24
25,26,35,4,2015-09-17,1.0,1,False,0,2015,9,...,26,53.0,3.05,6.0,Rain,187,NordrheinWestfalen,2000-10-15,5450,24
26,27,36,4,2015-09-17,1.0,1,False,0,2015,9,...,13,58.0,0.00,6.0,Rain,261,Bayern,2003-06-15,4477,24
27,28,38,4,2015-09-17,1.0,1,False,0,2015,9,...,26,53.0,3.05,6.0,Rain,187,NordrheinWestfalen,2007-04-15,3077,24
28,29,39,4,2015-09-17,1.0,1,False,0,2015,9,...,26,53.0,3.05,6.0,Rain,187,NordrheinWestfalen,2006-10-15,3259,24
29,30,40,4,2015-09-17,1.0,1,False,0,2015,9,...,26,53.0,3.05,6.0,Rain,187,NordrheinWestfalen,1900-01-15,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41058,41059,1077,6,2015-08-01,1.0,0,False,0,2015,8,...,10,NaN,0.00,6.0,NaN,354,NordrheinWestfalen,2001-11-15,5007,24
41059,41060,1078,6,2015-08-01,1.0,0,False,0,2015,8,...,6,NaN,0.00,6.0,Rain,308,BadenWuerttemberg,1900-01-15,0,0
41060,41061,1079,6,2015-08-01,1.0,0,False,1,2015,8,...,14,NaN,0.00,NaN,NaN,55,Hessen,1900-01-15,0,0
41061,41062,1080,6,2015-08-01,1.0,0,False,0,2015,8,...,6,NaN,0.00,NaN,Rain,300,Bayern,1900-01-15,0,0
41062,41063,1083,6,2015-08-01,1.0,0,False,1,2015,8,...,14,NaN,0.00,NaN,NaN,55,Hessen,1900-01-15,0,0
41063,41064,1084,6,2015-08-01,1.0,0,False,1,2015,8,...,14,NaN,0.00,NaN,NaN,55,Hessen,1900-01-15,0,0
41064,41065,1086,6,2015-08-01,1.0,0,False,1,2015,8,...,14,NaN,0.00,NaN,NaN,55,Hessen,2013-11-15,624,20
41065,41066,1087,6,2015-08-01,1.0,0,False,1,2015,8,...,10,NaN,0.00,6.0,NaN,64,Niedersachsen,2011-11-15,1355,24
41066,41067,1088,6,2015-08-01,1.0,0,False,0,2015,8,...,10,NaN,0.00,6.0,NaN,354,NordrheinWestfalen,2009-03-15,2330,24
41067,41068,1089,6,2015-08-01,1.0,0,False,0,2015,8,...,10,NaN,0.00,6.0,NaN,354,NordrheinWestfalen,2009-05-15,2269,24
41068,41069,1091,6,2015-08-01,1.0,0,False,0,2015,8,...,6,NaN,0.00,3.0,Fog,88,SchleswigHolstein,1900-01-15,0,0
41069,41070,1092,6,2015-08-01,1.0,0,False,0,2015,8,...,6,NaN,0.00,NaN,Rain,300,Bayern,2000-07-15,5495,24
41070,41071,1094,6,2015-08-01,1.0,0,False,0,2015,8,...,6,NaN,0.00,NaN,Rain,300,Bayern,2013-03-15,869,24
41071,41072,1096,6,2015-08-01,1.0,0,False,0,2015,8,...,10,NaN,0.00,6.0,NaN,354,NordrheinWestfalen,1900-01-15,0,0
41072,41073,1097,6,2015-08-01,1.0,0,False,0,2015,8,...,8,NaN,0.00,8.0,NaN,199,RheinlandPfalz,2002-03-15,4887,24
41073,41074,1099,6,2015-08-01,1.0,0,False,0,2015,8,...,6,NaN,0.00,3.0,Fog,88,SchleswigHolstein,2013-04-15,838,24
41074,41075,1100,6,2015-08-01,1.0,0,False,0,2015,8,...,10,NaN,0.00,6.0,NaN,354,NordrheinWestfalen,1900-01-15,0,0
41075,41076,1101,6,2015-08-01,1.0,0,False,0,2015,8,...,6,NaN,0.00,3.0,Fog,88,SchleswigHolstein,2012-09-15,1050,24
41076,41077,1102,6,2015-08-01,1.0,0,False,0,2015,8,...,6,NaN,0.00,NaN,Rain,300,Bayern,2012-11-15,989,24
41077,41078,1103,6,2015-08-01,1.0,0,False,1,2015,8,...,14,NaN,0.00,NaN,NaN,55,Hessen,2006-10-15,3212,24
41078,41079,1104,6,2015-08-01,1.0,0,False,0,2015,8,...,6,NaN,0.00,NaN,Rain,300,Bayern,2012-02-15,1263,24
41079,41080,1105,6,2015-08-01,1.0,0,False,0,2015,8,...,10,NaN,0.00,6.0,NaN,354,NordrheinWestfalen,2008-11-15,2450,24
41080,41081,1106,6,2015-08-01,1.0,0,False,0,2015,8,...,6,NaN,0.00,3.0,Fog,88,SchleswigHolstein,2011-09-15,1416,24
41081,41082,1107,6,2015-08-01,1.0,0,False,0,2015,8,...,6,NaN,0.00,NaN,Rain,300,Bayern,2012-06-15,1142,24
41082,41083,1109,6,2015-08-01,1.0,0,False,0,2015,8,...,6,NaN,0.00,NaN,Rain,300,Bayern,2011-04-15,1569,24
41083,41084,1111,6,2015-08-01,1.0,0,False,0,2015,8,...,10,NaN,0.00,6.0,NaN,354,NordrheinWestfalen,2014-06-15,412,13
41084,41085,1112,6,2015-08-01,1.0,0,False,0,2015,8,...,10,NaN,0.00,6.0,NaN,354,NordrheinWestfalen,2006-04-15,3395,24
41085,41086,1113,6,2015-08-01,1.0,0,False,0,2015,8,...,6,NaN,0.00,3.0,Fog,88,SchleswigHolstein,1900-01-15,0,0
41086,41087,1114,6,2015-08-01,1.0,0,False,0,2015,8,...,6,NaN,0.00,6.0,Fog,102,Hamburg,1900-01-15,0,0
41087,41088,1115,6,2015-08-01,1.0,0,False,1,2015,8,...,14,NaN,0.00,NaN,NaN,55,Hessen,1900-01-15,0,0

NameError: name 'DateTime' is not defined

In [37]:
for df in (joined,joined_test):
    df["Promo2Since"] = pd.to_datetime(df.apply(lambda x: Week(x.Promo2SinceYear, x.Promo2SinceWeek).monday(), axis=1))
    df["Promo2Days"] = df.Date.subtract(df["Promo2Since"]).dt.days

NameError: ("name 'week' is not defined", 'occurred at index 0')

In [ ]:
for df in (joined,joined_test):
    df.loc[df.Promo2Days<0, "Promo2Days"] = 0
    df.loc[df.Promo2SinceYear<1990, "Promo2Days"] = 0
    df["Promo2Weeks"] = df["Promo2Days"]//7
    df.loc[df.Promo2Weeks<0, "Promo2Weeks"] = 0
    df.loc[df.Promo2Weeks>25, "Promo2Weeks"] = 25
    df.Promo2Weeks.unique()

In [ ]:
joined.to_feather(f'{PATH}joined')
joined_test.to_feather(f'{PATH}joined_test')

## Durations

It is common when working with time series data to extract data that explains relationships across rows as opposed to columns, e.g.:
* Running averages
* Time until next event
* Time since last event

This is often difficult to do with most table manipulation frameworks, since they are designed to work with relationships across columns. As such, we've created a class to handle this type of data.

We'll define a function `get_elapsed` for cumulative counting across a sorted dataframe. Given a particular field `fld` to monitor, this function will start tracking time since the last occurrence of that field. When the field is seen again, the counter is set to zero.

Upon initialization, this will result in datetime na's until the field is encountered. This is reset every time a new store is seen. We'll see how to use this shortly.

In [ ]:
def get_elapsed(fld, pre):
    day1 = np.timedelta64(1, 'D')
    last_date = np.datetime64()
    last_store = 0
    res = []

    for s,v,d in zip(df.Store.values,df[fld].values, df.Date.values):
        if s != last_store:
            last_date = np.datetime64()
            last_store = s
        if v: last_date = d
        res.append(((d-last_date).astype('timedelta64[D]') / day1))
    df[pre+fld] = res

We'll be applying this to a subset of columns:

In [ ]:
columns = ["Date", "Store", "Promo", "StateHoliday", "SchoolHoliday"]

In [ ]:
#df = train[columns]
df = train[columns].append(test[columns])

Let's walk through an example.

Say we're looking at School Holiday. We'll first sort by Store, then Date, and then call `add_elapsed('SchoolHoliday', 'After')`:
This will apply to each row with School Holiday:
* A applied to every row of the dataframe in order of store and date
* Will add to the dataframe the days since seeing a School Holiday
* If we sort in the other direction, this will count the days until another holiday.

In [ ]:
fld = 'SchoolHoliday'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

We'll do this for two more fields.

In [ ]:
fld = 'StateHoliday'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

In [ ]:
fld = 'Promo'
df = df.sort_values(['Store', 'Date'])
get_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
get_elapsed(fld, 'Before')

We're going to set the active index to Date.

In [ ]:
df = df.set_index("Date")

Then set null values from elapsed field calculations to 0.

In [ ]:
columns = ['SchoolHoliday', 'StateHoliday', 'Promo']

In [ ]:
for o in ['Before', 'After']:
    for p in columns:
        a = o+p
        df[a] = df[a].fillna(0).astype(int)

Next we'll demonstrate window functions in pandas to calculate rolling quantities.

Here we're sorting by date (`sort_index()`) and counting the number of events of interest (`sum()`) defined in `columns` in the following week (`rolling()`), grouped by Store (`groupby()`). We do the same in the opposite direction.

In [ ]:
bwd = df[['Store']+columns].sort_index().groupby("Store").rolling(7, min_periods=1).sum()

In [ ]:
fwd = df[['Store']+columns].sort_index(ascending=False
                                      ).groupby("Store").rolling(7, min_periods=1).sum()

Next we want to drop the Store indices grouped together in the window function.

Often in pandas, there is an option to do this in place. This is time and memory efficient when working with large datasets.

In [ ]:
bwd.drop('Store',1,inplace=True)
bwd.reset_index(inplace=True)

In [ ]:
fwd.drop('Store',1,inplace=True)
fwd.reset_index(inplace=True)

In [ ]:
df.reset_index(inplace=True)

Now we'll merge these values onto the df.

In [ ]:
df = df.merge(bwd, 'left', ['Date', 'Store'], suffixes=['', '_bw'])
df = df.merge(fwd, 'left', ['Date', 'Store'], suffixes=['', '_fw'])

In [ ]:
df.drop(columns,1,inplace=True)

In [ ]:
df.head()

It's usually a good idea to back up large tables of extracted / wrangled features before you join them onto another one, that way you can go back to it easily if you need to make changes to it.

In [ ]:
df.to_feather(f'{PATH}df')

In [ ]:
df = pd.read_feather(f'{PATH}df')

In [ ]:
df["Date"] = pd.to_datetime(df.Date)

In [ ]:
df.columns

In [ ]:
joined = join_df(joined, df, ['Store', 'Date'])

In [ ]:
joined_test = join_df(joined_test, df, ['Store', 'Date'])

The authors also removed all instances where the store had zero sale / was closed. We speculate that this may have cost them a higher standing in the competition. One reason this may be the case is that a little exploratory data analysis reveals that there are often periods where stores are closed, typically for refurbishment. Before and after these periods, there are naturally spikes in sales that one might expect. By ommitting this data from their training, the authors gave up the ability to leverage information about these periods to predict this otherwise volatile behavior.

In [ ]:
joined = joined[joined.Sales!=0]

We'll back this up as well.

In [ ]:
joined.reset_index(inplace=True)
joined_test.reset_index(inplace=True)

In [ ]:
joined.to_feather(f'{PATH}joined')
joined_test.to_feather(f'{PATH}joined_test')

We now have our final set of engineered features.

While these steps were explicitly outlined in the paper, these are all fairly typical feature engineering steps for dealing with time series data and are practical in any similar setting.

## Create features

In [ ]:
joined = pd.read_feather(f'{PATH}joined')
joined_test = pd.read_feather(f'{PATH}joined_test')

In [ ]:
joined.head().T.head(40)

Now that we've engineered all our features, we need to convert to input compatible with a neural network.

This includes converting categorical variables into contiguous integers or one-hot encodings, normalizing continuous features to standard normal, etc...

In [ ]:
cat_vars = ['Store', 'DayOfWeek', 'Year', 'Month', 'Day', 'StateHoliday', 'CompetitionMonthsOpen',
    'Promo2Weeks', 'StoreType', 'Assortment', 'PromoInterval', 'CompetitionOpenSinceYear', 'Promo2SinceYear',
    'State', 'Week', 'Events', 'Promo_fw', 'Promo_bw', 'StateHoliday_fw', 'StateHoliday_bw',
    'SchoolHoliday_fw', 'SchoolHoliday_bw']

contin_vars = ['CompetitionDistance', 'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC',
   'Max_Humidity', 'Mean_Humidity', 'Min_Humidity', 'Max_Wind_SpeedKm_h', 
   'Mean_Wind_SpeedKm_h', 'CloudCover', 'trend', 'trend_DE',
   'AfterStateHoliday', 'BeforeStateHoliday', 'Promo', 'SchoolHoliday']

n = len(joined); n

In [ ]:
dep = 'Sales'
joined = joined[cat_vars+contin_vars+[dep, 'Date']].copy()

In [ ]:
joined_test[dep] = 0
joined_test = joined_test[cat_vars+contin_vars+[dep, 'Date', 'Id']].copy()

In [ ]:
for v in cat_vars: joined[v] = joined[v].astype('category').cat.as_ordered()

In [ ]:
apply_cats(joined_test, joined)

In [ ]:
for v in contin_vars:
    joined[v] = joined[v].fillna(0).astype('float32')
    joined_test[v] = joined_test[v].fillna(0).astype('float32')

We're going to run on a sample.

In [ ]:
idxs = get_cv_idxs(n, val_pct=150000/n)
joined_samp = joined.iloc[idxs].set_index("Date")
samp_size = len(joined_samp); samp_size

To run on the full dataset, use this instead:

In [ ]:
samp_size = n
joined_samp = joined.set_index("Date")

We can now process our data...

In [ ]:
joined_samp.head(2)

In [ ]:
df, y, nas, mapper = proc_df(joined_samp, 'Sales', do_scale=True)
yl = np.log(y)

In [ ]:
joined_test = joined_test.set_index("Date")

In [ ]:
df_test, _, nas, mapper = proc_df(joined_test, 'Sales', do_scale=True, skip_flds=['Id'],
                                  mapper=mapper, na_dict=nas)

In [ ]:
df.head(2)

In time series data, cross-validation is not random. Instead, our holdout data is generally the most recent data, as it would be in real application. This issue is discussed in detail in [this post](http://www.fast.ai/2017/11/13/validation-sets/) on our web site.

One approach is to take the last 25% of rows (sorted by date) as our validation set.

In [ ]:
train_ratio = 0.75
# train_ratio = 0.9
train_size = int(samp_size * train_ratio); train_size
val_idx = list(range(train_size, len(df)))

An even better option for picking a validation set is using the exact same length of time period as the test set uses - this is implemented here:

In [ ]:
val_idx = np.flatnonzero(
    (df.index<=datetime.datetime(2014,9,17)) & (df.index>=datetime.datetime(2014,8,1)))

In [ ]:
val_idx=[0]

## DL

We're ready to put together our models.

Root-mean-squared percent error is the metric Kaggle used for this competition.

In [ ]:
def inv_y(a): return np.exp(a)

def exp_rmspe(y_pred, targ):
    targ = inv_y(targ)
    pct_var = (targ - inv_y(y_pred))/targ
    return math.sqrt((pct_var**2).mean())

max_log_y = np.max(yl)
y_range = (0, max_log_y*1.2)

We can create a ModelData object directly from out data frame.

In [ ]:
md = ColumnarModelData.from_data_frame(PATH, val_idx, df, yl.astype(np.float32), cat_flds=cat_vars, bs=128,
                                       test_df=df_test)

Some categorical variables have a lot more levels than others. Store, in particular, has over a thousand!

In [ ]:
cat_sz = [(c, len(joined_samp[c].cat.categories)+1) for c in cat_vars]

In [ ]:
cat_sz

We use the *cardinality* of each variable (that is, its number of unique values) to decide how large to make its *embeddings*. Each level will be associated with a vector with length defined as below.

In [ ]:
emb_szs = [(c, min(50, (c+1)//2)) for _,c in cat_sz]

In [ ]:
emb_szs

In [ ]:
m = md.get_learner(emb_szs, len(df.columns)-len(cat_vars),
                   0.04, 1, [1000,500], [0.001,0.01], y_range=y_range)
m.summary()

In [ ]:
lr = 1e-3
m.lr_find()

In [ ]:
m.sched.plot(100)

### Sample

In [ ]:
m = md.get_learner(emb_szs, len(df.columns)-len(cat_vars),
                   0.04, 1, [1000,500], [0.001,0.01], y_range=y_range)
lr = 1e-3

In [ ]:
m.fit(lr, 3, metrics=[exp_rmspe])

In [ ]:
m.fit(lr, 5, metrics=[exp_rmspe], cycle_len=1)

In [ ]:
m.fit(lr, 2, metrics=[exp_rmspe], cycle_len=4)

### All

In [ ]:
m = md.get_learner(emb_szs, len(df.columns)-len(cat_vars),
                   0.04, 1, [1000,500], [0.001,0.01], y_range=y_range)
lr = 1e-3

In [ ]:
m.fit(lr, 1, metrics=[exp_rmspe])

In [ ]:
m.fit(lr, 3, metrics=[exp_rmspe])

In [ ]:
m.fit(lr, 3, metrics=[exp_rmspe], cycle_len=1)

### Test

In [ ]:
m = md.get_learner(emb_szs, len(df.columns)-len(cat_vars),
                   0.04, 1, [1000,500], [0.001,0.01], y_range=y_range)
lr = 1e-3

In [ ]:
m.fit(lr, 3, metrics=[exp_rmspe])

In [ ]:
m.fit(lr, 3, metrics=[exp_rmspe], cycle_len=1)

In [ ]:
m.save('val0')

In [ ]:
m.load('val0')

In [ ]:
x,y=m.predict_with_targs()

In [ ]:
exp_rmspe(x,y)

In [ ]:
pred_test=m.predict(True)

In [ ]:
pred_test = np.exp(pred_test)

In [ ]:
joined_test['Sales']=pred_test

In [ ]:
csv_fn=f'{PATH}tmp/sub.csv'

In [ ]:
joined_test[['Id','Sales']].to_csv(csv_fn, index=False)

In [ ]:
FileLink(csv_fn)

## RF

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
((val,trn), (y_val,y_trn)) = split_by_idx(val_idx, df.values, yl)

In [ ]:
m = RandomForestRegressor(n_estimators=40, max_features=0.99, min_samples_leaf=2,
                          n_jobs=-1, oob_score=True)
m.fit(trn, y_trn);

In [ ]:
preds = m.predict(val)
m.score(trn, y_trn), m.score(val, y_val), m.oob_score_, exp_rmspe(preds, y_val)